<div class="form-body">

	<!-- table data -->
	<table class="table-data" style="width:100%">

		<thead>
			<th>#</th>
			<th>Avatar</th>
			<th>Username</th>
			<th>Email</th>
			<th>Actions</th>
		</thead>

		<tbody>
			<% @users.each do |user| %>
		    	<tr>
				  	<td><%= user.id %></td>
				    <td>
				    	<div class="img-book img-small">
							<% if user.avatar? %>
								<%= image_tag user.avatar.url %>
							<% else %>
								<%= link_to gravatar_for(user, size: 120), user %>
							<% end %>
						</div>
					</td>
				    <td><%= user.username %></td> 
				    <td><%= user.email %></td>
				    <td>
				    	<a class="icon-action icon-warning" rel="nofollow" title="View detail" href="/users/<%= user.id %>">
							<span class="glyphicon glyphicon-eye-open"></span>
						</a>
				    	<a class="icon-action icon-edit" rel="nofollow" title="Edit" href="/users/<%= user.id %>/edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>

						<% if(!user.admin) %>
					    	<a class="icon-action icon-remove" data-confirm="You sure?" rel="nofollow" title="Delete" data-method="delete" href="/users/<%= user.id %>">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						<% end %>
				    </td>
			  </tr>
		  	<% end %>
		</tbody>
	</table>

	<div class="center">
		<%= will_paginate %>
	</div>
</div>