<%= provide(:title_page, "Signup") %>

<div class="row mr-bt-50">
	<div class="form-body form-login">
		<h2 class="center">Signup</h2>

		<%= form_for(@user) do |f| %>

		  	<%= f.label :username %>
		  	<%= f.text_field :username, class: 'form-control' %>

		  	<%= f.label :email %>
		  	<%= f.email_field :email, class: 'form-control' %>

		  	<%= f.label :password %>
		  	<%= f.password_field :password, class: 'form-control' %>

		  	<%= f.label :password_confirmation %>
		  	<%= f.password_field :password_confirmation, class: 'form-control' %>

		  	<button style="width: 100%" class="btn btn-primary" title="Submit" type="submit">Create my account</button>
		<% end %>

		<p class="link-signup">You have account? <%= link_to "Login", login_path %></p>
	</div>
</div>
